NODE_ENV=development
PORT=5000
FRONTEND_URL=http://localhost:5173
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=sharuu_store
JWT_SECRET=replace-with-at-least-32-random-characters
COOKIE_SECURE=false
UPLOAD_DIR=src/uploads

live host--

NODE_ENV=production
PORT=5000

FRONTEND_URL=https://hello.sharuu.com

DB_HOST=localhost
DB_PORT=3306
DB_USER=sharuuco_hello_sharuu_com
DB_PASSWORD=hello_sharuu_com@90
DB_NAME=sharuuco_hello_sharuu_com

JWT_SECRET=sbdcaejcnawefcawiedncawjzdnsesfncawj
COOKIE_SECURE=true

UPLOAD_DIR=src/uploads